body{
    display: block;
    
}

.wrapping{
    width: 420px;
    background: hsl(0, 2%, 26%);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapping h1{
    font-size: 36px;
    text-align: center;
}
